/* .App {
  text-align: center;
} */

.red {
  color: crimson; 
}
.fontStyle{
  font-weight: 600;
}
.green{
  color: darkgreen;
}
.pd{
  margin: 4em;
}
.alignCenter{
  text-align: right;
}
.timer{
  text-align: center;
    margin-top: 25px;
}

